.goal-form {
  margin: 0 auto;
  max-width: 400px;
}

textarea {
  border: 2px solid;
  border-radius: 4px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.student-info {
  margin: 0 auto;
  width: 400px;
}

body {
  background-color: whitesmoke;
  font-weight: 100;
  font-family: Helvetica, sans-serif;
}

.logo {
  height: 100px;
  margin: 0 auto;
  padding-left: 100px;
  padding-bottom: 15px;
}
